::-webkit-scrollbar {
  width: 0;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgba(36, 39, 51, 0.4); /* 스크롤바의 색상 */
}


* {
  font-display: block;
  transition: opacity 1s;
  font-family: "source-han-sans-korean", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#project-title, #project-info, #address_dong {
  font-display: block;
  font-family: "zw-mogujasusimgyeol", sans-serif;
  font-weight: 700;
  font-style: normal; 
}

:root {
  --pict_width: 76px;
  --ctl_width :54px;
  --popup_width: 550px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  overflow: hidden;
}

#header {
  z-index: 100;  
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 70px;
  background-color: yellow;
}

#project-title, #project-info {
  position: absolute;
  align-items: stretch;
  margin: 0 2.5vw;
}

#project-title {
  opacity: 100;
  left: 0;
  font-size: 2.8rem;
  z-index: 10;
  color: black;
  transition: transform .15s ease-in-out;
/*   background-color: rgba(255,255,255,0.5); */
}

#project-title:hover {
  color: grey;
}

#project-info {
  right: 0;
  font-size: 1.6rem;
  z-index: 110;
  display: flex;
  width: auto;
  height: auto;
  
  color: white;
  background-color: black;
  margin: 0 2.4vw;
  padding: 0.5%;
  border-radius: 20%;
  transition: transform 0.1s ease-in-out;
}

#project-info:hover {
  transform: scale(1.1);
}

#info-popup {
  z-index: 1000;
  display: block;
  position: fixed;
  right: calc(-1.5 * var(--popup_width));
  padding-top: 50px;
  width: var(--popup_width);
  height: 100vh;
/*   text-align: center; */
  background-color: white;
  box-shadow: -2.5px 0 5px rgba(0, 0, 0, 0.3);
  overflow: scroll;
  transition: right 0.6s ease-out;
}

.popup-h, .popup-p, .popup-img {
  color: black;
  position: relative;
  left: 0;
  margin: 20px auto;
  width: 92%;
  height: auto;
  text-align: left;
}

.popup-h {
  margin-top: 100px;
  font-weight: 700;
/*   font-size: 1.6rem; */
}

.popup-img {
  width: 90%;
  height: 310px;
  background-image: url("https://cdn.glitch.global/4300c893-b7d0-43b8-97e2-45113b955d30/%E1%84%91%E1%85%AE%E1%86%BC%E1%84%89%E1%85%AE%E1%84%8C%E1%85%B5%E1%84%85%E1%85%B5%20%E1%84%89%E1%85%A9%E1%84%80%E1%85%A2_%E1%84%90%E1%85%AE%E1%84%86%E1%85%A7%E1%86%BC.png?v=1697808509606");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  background-color: #F9F9F9;
/*   border-radius: 4px; */
}

#popup-x {
  position: absolute;
  right: 0;
  margin-right: 30px;
  width: 20px;
  height: 20px;
  transform: scale(1.2);
  transition: transform 0.1s ease-in-out;
}

#popup-x:hover {
  transform: scale(1.4);
}


#ctl_left, #ctl_right {
  position: fixed;
  z-index: 110;
  display: flex;
  top: calc(50vh - var(--ctl_width) * 1.8);
  width: var(--ctl_width);
  height: var(--ctl_width);
  background-color: rgba(0,0,0,0);
  margin: 2.4vw;
  border-radius: 20%;
  visibility: hidden;
}

#ctl_left {
  left: 0;
}

#ctl_right {
  right: 0;
}

i {
  width: auto;
  height: auto;
  margin: auto;
  color: black;
  transform: scale(1.1);
  transition: transform .15s ease-in-out;
}

#ctl_left:hover, #ctl_right:hover, #home:hover, #project-info:hover, #project-title:hover{
  cursor: pointer !important;
}

#ctl_left:hover > i, #ctl_right:hover > i {
  transform: scale(1.35);
}

#map {
  position: fixed !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100% !important; 
  background-color : #ffffff;
  z-index: 0;
}

#info-box {
  opacity: 0; 
  display: grid;
  grid-template-columns: 30% 70%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 36vh;
  color: black;
/*   background-color: rgba(255, 255, 255, 0.4); */
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); 
  pointer-events: none;
}

#info-left, #info-right {
  position: relative;
  width: 100%;
}

#info-left {
  display: grid;
  grid-template-rows : 10% 25% 65%;
  padding-left: 2.4vw;
/*   background-color: orange; */
}

#info-right {
  text-align: left;
  
  display: grid;
  grid-template-rows : 20% 15% 65%;
  padding-right: 2.4vw;
/*   background-color: yellow; */
}

#profile_grid {
  display: flex;
  width: 100%;
  justify-content: start;
  height: 100%;
  
  pointer-events: auto;
  overflow: scroll;
  white-space: nowrap;
}

.profile {
  position: relative;
  display: inline;
  align-items: center;
  width: auto;
  height: 100%;
  text-align: center;
  margin-right : 2%;
/*   background-color: grey; */
}

.pict {
  display: flex;
  background-color: #242733;
  border-radius: 50%;
  border: 3.5px solid #242733;
  width: var(--pict_width);
  height: var(--pict_width);
  margin: auto;
}


/* text - right */
.right_title {
  font-weight: 700;
  font-size: 1.05rem;
}

.name {
  font-size: 1.05rem;
  width: 100%;
  padding-top: 0.7rem;
}

/* text - left */
#address_dong {
  font-size: 3.8rem;
  margin: 0;
  padding-top: 0.4rem;
  word-break: keep-all;
}

#address_sigu {
  font-size: 1.2rem;
  margin: 0;
  word-break: keep-all;
}

#address_des {
  font-size: 1.2rem;
  margin: 0;
  padding-top: 1rem;
  word-break: keep-all;
}



/*맵박스 로고 가리기*/
.mapbox-logo { 
  display: none; 
}
.mapboxgl-ctrl-logo { 
  display: none !important; 
} 
.mapbox-improve-map { 
  display: none; 
} 
.mapboxgl-ctrl-compass { 
  display: none; 
}

