
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  overflow: hidden;
}


#map {
  position: fixed !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%; !important;    
}


#info-box {
  position: absolute;
  display: flex;
  width: 100%;
  height: 30%;
  right: 0px;
  bottom: 0px;
  background: rgba(0,0,0,0.5);
  color: black;
}

.info-left {
  position: relative;
  width: 50%;
  background-color: red;
  margin: 22px;
}

.info-right {
  position: relative;
  width: 50%;
  background-color: blue;
  margin: 22px;
}


h1 {
  font-family: 'helvetica', sans-serif;
  font-size: 2.3rem; /*   2.3rem */
  font-weight: 400;
  padding: 10px;
  margin: 0;
  word-break: keep-all;
}
p {
  font-family: 'helvetica', sans-serif;
  font-size: 1.2rem;
  padding: 10px;
  margin: 0;
  word-break: keep-all;
}

#info2 img {
  padding: 20px;
  width: 50%;
}


/*맵박스 로고 가리기*/
.mapbox-logo{ 
  display: none; 
}
.mapboxgl-ctrl-logo { 
  display: none !important; 
} 
.mapbox-improve-map { 
  display: none; 
} 
.mapboxgl-ctrl-compass { 
  display: none; 
}

