html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  overflow: hidden;
}

:root {
  --pict_width: 72px;
}


.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
/*   background-color: yellow; */
}

.project-title, .project-info {
  position: absolute;
  margin: 2.4vw;
  margin-top: 30px;
}

.project-info {
  right: 0;
}

#map {
  position: fixed !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100% !important; 
  background : yellow;
}

#info-box {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 32vh;
  background: rgba(0,0,0,0);
  color: black;
}

#info-left, #info-right {
  position: relative;
  display: inline;
  width: 50%;
  margin: 2.4vw;
}

#info-right {
  text-align: right;
  width: 100%;
  
  display: grid;
  grid-template-rows : 10% 20% 70%;
/*   background-color: blue; */
}

.right_title {
  font-size: 1.0rem;
/*   background-color: orange; */
}

#profile_grid {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.profile {
  position: relative;
  display: inline;
  width: 80px;
  height: 100%;
  text-align: center;
  margin-left : 1%;
  /*   background-color: grey; */
}

.pict {
  background-color: yellow;
  border-radius: 50%;
  width: var(--pict_width);
  height: var(--pict_width);
  margin: auto;
}

.name {
  padding-top: 0.8rem;
}

/* text */
#address_dong {
  font-family: 'helvetica', sans-serif;
  font-size: 2.3rem; /*   2.3rem */
  font-weight: 400;
  margin: 0;
  padding-top: 0.4rem;
  word-break: keep-all;
}

#address_sigu {
  font-family: 'helvetica', sans-serif;
  font-size: 1.rem; /*   2.3rem */
  font-weight: 400;
  margin: 0;
  word-break: keep-all;
}

#address_des {
  font-family: 'helvetica', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding-top: 1rem;
  word-break: keep-all;
}


/*맵박스 로고 가리기*/
.mapbox-logo { 
  display: none; 
}
.mapboxgl-ctrl-logo { 
  display: none !important; 
} 
.mapbox-improve-map { 
  display: none; 
} 
.mapboxgl-ctrl-compass { 
  display: none; 
}

